<div class="content">
  <div class="title">
    <h3>Tarefas</h3>
  </div>

  <div class="tablemaster">
    <button
      class="mat-elevation-z8"
      (click)="navegarParaPersonCreate()"
      mat-button
    >
      New Tarefas
    </button>

    <div class="mat-elevation-z8 content-table">
      <table class="table" mat-table [dataSource]="tarefas">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>id</th>
          <td mat-cell *matCellDef="let row">{{ row.id }}</td>
        </ng-container>

        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>Title</th>
          <td mat-cell *matCellDef="let row">{{ row.title }}</td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>Description</th>
          <td mat-cell *matCellDef="let row">{{ row.description }}</td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let row">{{ row.status }}</td>
        </ng-container>


        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let row">
            <a class="edit" routerLink="update/{{ row.id }}">
              <i class="material-icons">edit</i>
            </a>
            <a class="delete" routerLink="delete/{{ row.id }}" (click)="delete()">
              <i class="material-icons">delete</i>
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
</div>
