<mat-sidenav-container class="conteiner">
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <a routerLink="" mat-list-item>
        <i class="material-icons">home</i>
        home
      </a>
    </mat-nav-list>

    <mat-nav-list>
      <a  routerLink="/dev" mat-list-item>
        <i mat-button class="material-icons">person</i>
        Cadastro Dev
      </a>
    </mat-nav-list>

    <mat-nav-list>
      <a  routerLink="/tarefas" mat-list-item>
        <i mat-button class="material-icons">assignment</i>
        Tarefas
      </a>
    </mat-nav-list>


  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>

