<h3>Tarefas</h3>

<form>
  <mat-form-field class="form">
    <mat-label>Title</mat-label>
    <input
      matInput
      type="text"
      name="title"
      placeholder="Ex. Ajustar ..."
      [(ngModel)]="tarefas.title"
    />
  </mat-form-field>

  <mat-form-field class="form">
    <mat-label>Description</mat-label>
    <input
      matInput
      type="text"
      name="description"
      placeholder="Ex: Foi ajustado ."
      [(ngModel)]="tarefas.description"
    />
  </mat-form-field>


  <mat-form-field class="form">
    <mat-label>Status</mat-label>
    <input
      matInput
      type="text"
      name="status"
      placeholder="Ex. Andamento, Encerrado"
      [(ngModel)]="tarefas.status"
    />
  </mat-form-field>

  <div class="buttons">
    <button (click)="save()" class="mat-elevation-z8" mat-button>
      Save
    </button>
    <button (click)="cancel()" class="mat-elevation-z8" mat-button>
      Cancel
    </button>
  </div>
</form>
